@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

.navbar-brand a {
    color: #f0f0f0;
    padding: 10px 8px;
    border-radius: 10px;
    height: 45.25px;
    width: 15vw;
    max-width: 198px;
    min-width: 156px;
    display: block;
    transition: all 0.5s;
}

.navbar-brand a:hover {
    color: #000;
}

.navbar-brand svg {
    display: block;
    margin: 0 auto;
}

.navbar .btn-outline-light, .navbar .btn-light {
    border-radius: 10px;
    padding: 9px 20px;
    font-size: 17px;
    min-width: 200px;
}

.spinner {
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

.short_address {
    width: 168px;
    white-space: nowrap;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.short_address > span {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.short_address .ellipsis {
    display: inline-block;
    width: calc(40% + 1.2em);
    text-overflow: ellipsis;
}

.short_address .indent {
    display: inline-flex;
    width: calc(60% - 1.2em);
    justify-content: flex-end;
}

body {
    background: linear-gradient(180deg, #035161 0, #010024 100%);
    min-height: 100vh;
}

html.mountings {
    background: url(/resources/assets/pages/main.jpg) center top no-repeat;
    background-attachment: fixed;
    background-size: cover
}

html.mountings body {
    min-height: 100vh;
    background: url(/resources/assets/pages/mountains.png) center bottom no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff
}

html.mountings h1, html.mountings h2 {
    font-weight: 700;
}


canvas {
    outline: none;
    border: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#babylonjsLoadingDiv {
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    width: 100% !important;
    bottom: 0px !important;
    height: 100% !important;
}

#inspector-host, #scene-explorer-host {
    z-index: 1000 !important;
    position: absolute !important;
}

#inspector-host select, #inspector-host input, #inspector-host textarea, #scene-explorer-host select, #scene-explorer-host input, #scene-explorer-host textarea {
    color: #000 !important;
    background-color: #fff !important;
}

.btn-item-bottom {
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    align-self: stretch;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.40);
    background: linear-gradient(106deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
    backdrop-filter: blur(15px);
}

.btn-mint-background {
    border-radius: 16px;
    opacity: 0.5;
    background: #A04CF4;
    position: absolute;
    top: 4%;
    bottom: 4%;
    width: 100%;
}

.btn-dressed-background {
    border-radius: 16px;
    opacity: 0.5;
    background: #11A6C5;
    position: absolute;
    top: 4%;
    bottom: 4%;
    width: 100%;
}

.btn-confirm-background {
    border-radius: 16px;
    opacity: 0.5;
    background: #19CA60;
    position: absolute;
    top: 4%;
    bottom: 4%;
    width: 100%;
}